.aktuelltWrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 0.5rem;
  margin-top: 2rem;
}

button.tag {
  padding: 0.3rem !important;
}

.posts {
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  width: 100%;
}

.loadMore {
  font-size: 1.2rem;
  display: block;
  margin: 1rem auto 1rem auto;
}

.loadMore.nope {
  background-color: #888;
}

@media screen and (max-width: 900px) {
  .aktuelltWrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  .posts {
    margin-top: 0;
  }
}

/*________________________*/

.feedContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post {
  background-color: #fefefe;
}

.postList {
  width: 450%;
  min-width: 480px;
  margin: 2% 1%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.44);
}

/* POST STYLES */
.post .head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.post .info h1 {
  margin-bottom: 0;
}

.post .info h2 {
  margin: 0px;
  padding: 0px;
}

.post p.meta {
  font-size: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.post hr {
  margin-top: 0px;
}

.post div.imageContainer {
  width: 100%;
  height: auto;
  max-height: 360px;
}

.post div.imageContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
