.itemList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 0;
	list-style: none;
}

.phoneNumber {
	font-weight: bold;
	color: var(--clr2);
	font-size: 1.25rem;
	text-decoration: none;
}

.email {
	font-size: 1.2rem;
}

.drawerSection {
	margin-bottom: 20px;
	position: relative;
}

.drawerToggle {
	background-color: var(--clr2);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	display: block;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: flex-start;
}

.drawerContent {
	overflow: hidden;
	max-height: 100%;
	padding: 0;
}

.drawerContent.open {
	max-height: 100%;
	padding: 10px;
}

.drawerContent.closed {
	max-height: 0;
	padding: 0;
}

.drawerIcon {
	font-size: 1em;
}

@media (max-width: 780px) {
	.itemList {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.drawerToggle {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}
