.contactForm {
	padding: 2rem;
	border-radius: 0.4rem;

	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

.contactForm form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.contactForm form > div {
	width: 100%;
}

.contactForm input,
.contactForm textarea,
.contactForm select {
	width: 100%;
}

/* .contactForm input:focus:invalid, .contactForm textarea:focus:invalid {
 border-color: var(--clr1);
 background-color: rgba(255, 0, 0, 0.1);
} */

.contactForm textarea {
	resize: vertical;
	height: 8rem;
}

.contactForm .other {
	height: 4rem;
}

.contactForm:invalid button {
	background-color: #92534d !important;
	cursor: not-allowed;
}

.contactForm label {
	margin: 0;
	margin-bottom: 0.3rem;
}

.disclaimer {
	text-align: center;
	margin: auto;
}

.disclaimer p {
	margin: auto;
	padding: 0;
	font-size: 0.9rem;
	max-width: 22rem;
}

@media screen and (max-width: 500px) {
	.disclaimer p {
		padding: 0;
		font-size: 0.9rem;
		max-width: 100%;
	}
}
