#contentbody {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1000px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    min-height: 1000px;
}

p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
p a {
    color: var(--djuprod);
}
p strong {
    color: var(--djuprod);
}
p a:visited {
    color: var(--djuprod);
}

h2 {
    margin-bottom: 0.5rem;
}

#contentbody iframe{
    border-radius: 1rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.507);
}