#rättigheter strong,
h2,
h1 span {
  color: var(--clr5);
}

#rättigheter p {
  font-size: 1.2rem;
}

#rättigheter li {
  font-size: 1.1rem;
}

#blanketter {
  display: flex;
  flex-wrap: wrap;
}

#blanketter h2 {
  width: 100%;
  color: #1d1d1f
}
