#rättigheter strong,
h2,
h1 span {
  color: var(--clr5);
}

#rättigheter p {
  font-size: 1.2rem;
}

#rättigheter li {
  font-size: 1.1rem;
}

.cards {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.praxis-cards {
  font-size: 1.4rem;
}