footer {
  background-color: var(--clgra);
  display: flex;
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.507);
  justify-content: space-between;
}

footer div img {
  display: inline;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-top: 1rem;
  width: 90%;
}

.footer_logo {
  height: auto;
}

#footerinfo {
  max-width: 30rem;
}

.footer-row {
  /* background-color: grey; */
  display: flex;
  gap: 1rem;
  padding: 1rem 1.3rem;
  justify-content: space-between;
}

#quick-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#quick-links a {
  color: white;
  font-size: large;
}

#sociallinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
}

#karta {
  float: right;
  flex-grow: 100;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  footer {
    width: 100%;
    display: inline-block;
  }
  #footerinfo {
    max-width: none;
  }

  .footer-row {
    padding: 1rem 2rem;
  }

  #karta {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 520px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem;
  }
  .footer-col {
    margin: auto;
    text-align: center;
  }

  #quick-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #quick-links h3 {
    grid-column: 1 / -1;
  }

  #sociallinks {
    margin: 1rem 0;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    gap: 0.5rem;
    max-width: 270px;
  }
}
