footer {
    background-color: var(--clgra);
    display: flex;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.507) ;
    justify-content: space-between;
}

.footer_logo{
    height: auto;
}

#footerinfo{
    float: left;
    max-width: 27rem;
}

footer div img{
    display: inline;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 1rem;
    width: 90%;
}

#footerinfotext{
    float: left;
    padding: 1.3rem;
    width: 10rem;
    white-space: nowrap;
}

#footerinfotext h3{
    margin-bottom: 0.1rem;
}

#sociallinks {
    display: flex;
    float: right;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
    font-size: 3rem;
}

#karta {
    float: right;
    flex-grow: 100;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    footer {
        width: 100%;
        display: inline-block;
    }
    #footerinfo{
        max-width: none;
    }
    #karta {
        width: 100%;
        height: 400px;
    }
}