.fortroendevaldaWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: auto;
  column-gap: 1rem;
}

.committeeNav {
  background-color: white;
  max-width: fit-content;
  border-radius: 0.3rem;
  overflow: hidden;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-top: 3px solid var(--clr4);
}

.committeeNav h2 {
  padding-left: 1rem;
}

.committeeNav ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.committeeNav ul li {
  padding: 0.5rem 1rem 0.5rem 1.4rem;
  font-size: 1.3rem;
}

.committeeNav ul li:hover {
  transform: scale(106%);
  transition: 0.1s;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.fortroendevaldaContent {
  scroll-margin-top: 75px;
}

.fortroendevaldaContent h1 {
  color: var(--clr5);
  margin-top: 0;
}

.poster p {
  font-size: 1.4rem !important;
}

.poster strong {
  color: black;
}

.cl_year {
  font-size: 1rem !important;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageContainer {
  max-width: 500px;
  padding: 10px;
}

.committeeNav li svg {
  width: 1.6rem;
}

.committeeNav .active {
  text-align: center;
  background-color: var(--clr4) !important;
  color: white;
}

.mandatePeriod {
  display: block;
  color: grey;
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .imageWrapper {
    flex-direction: column;
  }
  .imageContainer {
    padding: 0px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .fortroendevaldaWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
  }

  .committeeNav {
    max-width: 100%;
  }
}
