.förtroendevalda_wrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  height: auto;
  column-gap: 1rem;
}

.nämnder_nav {
  background-color: rgb(247, 247, 247);
  max-width: fit-content;
  border-radius: .3rem;
  overflow: hidden;
}

.nämnder_nav h2 {
  padding-left: 1rem;
}

.nämnder_nav ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nämnder_nav ul li {
  padding: 0.5rem 1rem 0.5rem 1.4rem;
  font-size: 1.3rem;
}

.nämnder_nav ul li:hover {
  transform: scale(106%);
  transition: 0.1s;
  background-color: rgb(211, 211, 211);
}

.nämnd_beskrivning {
  text-align: justify;
  font-size: 1.2rem;
}

#förtroendevalda_content {
  scroll-margin-top: 75px;
}

#förtroendevalda_content h1 {
  color: var(--clr5);
  margin-top: 0;
}

.poster p {
  font-size: 1.4rem !important;
}

.poster strong {
  color: black;
}

.nämnder_nav .active {
  text-align: center;
}

.mandat_period {
  display: block;
  color: grey;
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .förtroendevalda_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
  }

  .nämnder_nav {
    max-width: 100%;
  }
}
