.hedersorden ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: flex-start;
}

.hedersorden hr {
  margin: 1rem 4rem 1rem;
}

.hedersorden #platina {
  font-size: 1.3rem;
}

.hedersorden li::after {
  margin: 0 1rem;
  content: "â—";
}

.hedersorden li:last-child::after {
  content: "";
}

@media screen and (max-width: 480px) {
  .hedersorden ul {
    padding: 0;
    display: block;
  }
  .hedersorden li::after {
    content: "";
  }
}
