#hedersmedlemmarShelf {
	display: grid;
	max-width: 850px;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.hedersmedlem {
	min-width: 120px;
	max-width: 200px;
	width: 100%;

	text-align: center;
	-webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); /* Firefox 3.5 - 3.6 */
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
	background-color: #fcfcfc;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;

	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}

.hedersmedlem:hover {
	-webkit-box-shadow: 0 7px 13px rgb(0 0 0 / 0.3); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0 7px 13px rgb(0 0 0 / 0.3); /* Firefox 3.5 - 3.6 */
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
	transform: scale(1.01);
	transition: 0.2s ease-in-out;

	background: linear-gradient(
		0deg,
		rgba(255, 0, 26, 0.1) 05%,
		rgba(252, 252, 252, 1) 35%,
		rgba(252, 252, 252, 1) 100%
	);
}

.hedersmedlem.selected {
	background: linear-gradient(
		180deg,
		rgba(255, 0, 26, 0.1) 0%,
		rgba(252, 252, 252, 1) 35%,
		rgba(252, 252, 252, 1) 100%
	);
}

.imgdiv {
	margin: 0 auto;
	margin-top: 2rem;
	width: 75%;
	min-height: 0;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

.imgdiv img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.hedersmedlem h3 {
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
}

@media screen and (max-width: 775px) {
	#hedersmedlemmarShelf {
		max-width: 400px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

/* Hedersorden */

.hedersorden ul.category {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	justify-content: flex-start;
	scroll-margin: 6rem;
}

.hedersorden hr {
	margin: 1rem 4rem 1rem;
}

#platina {
	font-size: 1.3rem;
}

.nameTag:not(:last-child)::after {
	margin: 0.5rem;
	content: " ● ";
}

.year-list {
	display: none;
}

.yearHeader {
	display: none;
	margin-top: 0.5rem;
	margin-bottom: 0rem;
	font-size: large;
}

@media screen and (max-width: 600px) {
	.category {
		display: flex;
		flex-wrap: wrap;
	}

	.category li {
		display: block;
	}

	.yearList > li:nth-child(2n) {
		text-align: end;
	}

	.nameTag:not(:last-child)::after {
		margin: 0 !important;
		content: ",\00a0";
	}

	/* Tar bort alla , från namnet precis innan nytt år - Stödjs ej av firefox */
	.nameTag:has(+ h3)::after {
		content: none !important;
	}

	.yearHeader {
		margin: 1rem 0 0 0;
		width: 100%;
		display: block;
	}

	.hedersorden li > span {
		display: none;
	}
}
