.hedersorden ul.category {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: flex-start;
  scroll-margin: 6rem;
}

.hedersorden hr {
  margin: 1rem 4rem 1rem;
}

.hedersorden #platina {
  font-size: 1.3rem;
}

.hedersorden li.name-tag:not(:last-child)::after {
  margin: .5rem;
  content: " â— ";
}

.year-list {
  display: none;
}

.year-header {
  display: none;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .hedersorden ul.category {
    display: flex;
    flex-wrap: wrap;
  }

  .hedersorden ul.year-list > li:nth-child(2n) {
    text-align: end;
  }

  li.name-tag::after {
    margin: 0 !important;
    content: ",\00a0" !important;
  }

  .year-header {
    margin: 1rem 0 0 0;
    width: 100%;
    display: block;
  }

  .hedersorden li > span {
    display: none;
  }

  ul.category li{
    display: block;
  }
}
