.index_bg{
    height: 450px;
    position: relative;
}

.index_bg img{
    filter: blur(4px);
    object-fit: cover;
    transform: scale(1.03);
    margin-left: -1.5%;
}

.bg_bottom_cover{
    display: block;
    height: 100px;
    background-color: white;
    transform: translateY(-30px);
    box-shadow: 0 -0.3rem 0.3rem rgba(0, 0, 0, 0.116);
}

.index_content{
    transform: translateY(-130px);
    padding-top: 2rem !important;
}

@media screen and (max-width: 550px) {
    .index_bg{
        display: none;
    }

    .bg_bottom_cover{
        display: none;
    }

    .index_content{
        transform: translateY(0) !important;
        padding-top: 3.5rem !important;
    }
}