.index_bg {
    width: 102%;
    transform: translateX(-1%);
    overflow: hidden;
    height: 400px;
    position: relative;
    background-image: url("../public/media/bildspel/cl15jub.jpg");
    background-position: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(120%);
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

.sektionslogga_vitt {
    padding: 2rem;
    max-width: 1200px;
    min-width: 400px;
    width: auto;
    height: min-content;
    filter: drop-shadow(5px 5px 5px #222);
}

@media screen and (max-width: 600px){
    .sektionslogga_vitt{
        content: url("../public/media/grafik/CL_logo_sketch_chalk.png");
        scale: 75%;
    }
}

.index_content{
    padding-top: 0 !important;
}


header h1 {
    margin-bottom: -0.75rem;
}
.om{
    display: grid;  
    gap: 0px 2rem; 
    grid-template-areas: 
        ". ."; 
    scroll-margin-top: 10rem;
}

.om strong{
    color: var(--clr5);
}

.om .sektionslogga{
    width: calc(100% - 20px);
    height: auto;
}

.visa_om_knapp_div{
    transform: translateY(-9px);
    display: flex;
    justify-content: center;
}

.visa_om_knapp{
    background-color: var(--clr1);
    border: none;
    width: 100px;
    height: fit-content;
    border-radius: 0 0 1.6rem 1.6rem;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}

.collapsed {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}
    
.open {
    overflow: hidden;
    max-height: 2000px;
    transition: max-height 0.25s ease-in;
}

.mini_aktuellt_o_kalender {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}

.event_o_aktuellt{
    margin-top: 1rem;
    display: grid;
    width: 100%;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(auto-fit, );
}

.event_o_aktuellt h1{
    text-align: center;
    margin-top: -0.5rem;
}

.event_o_aktuellt div{
    border-radius: 1rem;
}

.mini_aktuellt{
    width: auto;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}

.mini_event{
    width: 100%;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}

.aktuellt_innehåll{
    margin: 10px;
}
.event_innehåll{
    margin: 10px;
}

.mini_kalender{
    width: 100%;
    background-color: bisque;
    padding-left: 10px;
}

.mini_kalender h1{
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.illabehandling_knapp{
    text-align: center;
    display: block;
    margin: 20px auto 10px auto;
}





@media screen and (max-width: 800px) {
    /* .mini_aktuellt {
        height: 400px;
    }
    .mini_event {
        height: 400px;
    } */
    .mini_aktuellt_o_kalender {
        display: flex;
        flex-wrap: wrap;
    }

    .om{
        display: flex;
        flex-wrap: wrap;
    }

    
    .title_grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    header {
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .title_grid div{
        text-align: center;
    }
}