#contentbody #tabs h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}

p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
p a {
    color:#9e2419;
}
p strong {
    color:#9e2419;
}
p a:visited {
    color:#9e2419;
}

h2 {
    margin-bottom: 0.5rem;
}

#tabs {
    width: 100%;
    max-width: 1000px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"]  {
    display: none;
}

#tab-knapp {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    border-radius: 1.5rem;
    background-color: var(--ljusrod);
}

#tab1:checked + label{
    background-color: var(--djuprod);
}

#tab2:checked + label {
    background-color: var(--djuprod);
}

#tab-knapp:hover {
    background-color: var(--mellanrod);
    transition: 0.2s;
}

.open-web-calendar {
    display: block;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 1000px;
    height: 800px;
}