.kalender_tab {
  background-color: var(--clr1);
  border-radius: 0 0 0.2rem 0.2rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}

#sektionskal {
  padding: 10px;
}
#gr책ttkal {
  padding: 10px;
}

.kalender_tab h1 {
  color: white;
  font-weight: 500;
  margin: 0;
}

.open-web-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
  height: 570px;
  width: 100%;
  max-width: 850px;
  border: none;
}

.open-web-calendar.agenda {
  height: 510px;
  width: calc(100% - 10px);
  min-width: 350px;
  border: none;
}

.kal_titel {
  text-align: center;
  padding-bottom: 0.5rem;
}

.kal-knapp {
  white-space: nowrap;
  position: relative;
  display: block;
  background-color: var(--clr4);
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  padding-bottom: 0.5rem;
  margin-left: 0rem;
}

.kal-knapp.active {
  background-color: var(--clr1);
}

.tabs-wrapper {
  margin-left: 0rem;
  display: flex;
  justify-content: space-between;
}

.gr책ttagenda_wrapper {
  border-radius: 0.3rem;
  min-width: 360px;
  max-width: 450px;
  padding-bottom: 10px;
}

.mini_kalender.kalender_tab.gr책ttan.m책nad{
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


@media screen and (min-width: 500px) {
  .kal-knapp {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .kal-knapp::before,
  .kal-knapp::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    height: 101%;
    width: 2.6rem;
    background-color: var(--clr4);
  }

  .kal-knapp::before {
    transform: skew(-20deg, 0);
    border-radius: 1rem 0 0 0;
    left: -2rem;
  }
  .kal-knapp::after {
    transform: skew(20deg, 0);
    border-radius: 0 1rem 0 0;
    right: -2rem;
  }

  .kal-knapp.active::before,
  .kal-knapp.active::after {
    background-color: var(--clr1);
    z-index: 2;
  }
  .kal-knapp.active:hover::before,
  .kal-knapp.active:hover::after {
    background-color: var(--clr1);
  }

  .kal-knapp:hover::before,
  .kal-knapp:hover::after {
    background-color: var(--clr3);
    transition: 0.2s;
  }

  .kalender_tab {
    border-radius: 0.2rem;
  }

  .tabs-wrapper {
    margin-left: 1rem;
    display: flex;
    justify-content: left;
  }
}
