#tabs {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"]  {
    display: none;
}

.kalender_tab {
    background-color: var(--clr1);
    padding: 10px;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}

.kalender_tab h1{
    color: white;
    font-weight: 500;
    margin: 0;
}

.open-web-calendar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    height: 570px;
    width: 100%;
    border:none;

}

.open-web-calendar.agenda{
    height: 300px;
    width: 100%;
    border:none;
}

.kal_knapp{
    background-color: var(--clr1);
    border: none;
    min-width: 300px;
    height: fit-content;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.507);
}
.kal_knapp:hover{
    background-color: var(--clr3);
    transition: .2s;
}

.controlls_tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.controlls_tab p{
    min-width: 300px;
}

.kal_titel{
    text-align: center;
    padding-bottom: .5rem;
    
}