#topNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  backdrop-filter: blur(4px);
  overflow: visible;
  transition: 0.2s ease-in-out;
  z-index: 10000000; /*fixar så att nav alltid är längst upp*/
}

.burgerMenuList,
.burgerMenuList p,
#topNav *,
.burgerMenuList a {
  color: white !important;
  text-decoration: none !important;
}

/* Gör topnav röd när menyn är ute på mobil  eller man skrollat ner*/
.navBarFilled {
  transition: 0.2s ease-in-out;
  background-color: var(--clr2);
  backdrop-filter: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.topNav.active {
  transition: none !important;
}

#navMain {
  overflow: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#topNav button {
  background-color: inherit !important;
}

.navMenuList {
  display: flex;
}

#navLogo {
  width: 3rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  height: inherit;
}

.navItemWrapper {
  overflow: hidden;
  height: auto;
}

.navItem {
  float: left;
  text-align: center;
  padding: 0.9rem 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.submenuItem {
  display: none !important;
  text-align: center;
  padding: 0.5rem 0.25rem;
  border-bottom: solid 1px var(--clr1);
  background-color: var(--clr2);
}

/* För att subitems ska linewrapa  */
.submenuItem p {
  margin: 0 auto;
  padding: 0;
  font-size: unset;
  max-width: 8rem;
}

.navMenuList .submenuWrapper:hover .submenuItem {
  display: block !important;
}

.burgerMenuList .navItem:hover,
.navMenuList .submenuWrapper:hover,
.submenuItem:hover,
.navItem:hover {
  background-color: var(--clr3);
  transition: 0.2s;
}

.submenuItem:hover {
  transform: scale(1.05);
}

.navItem.active,
.submenuItem.active {
  background-color: var(--clr4) !important;
}

.navItem i {
  transition: 0.5s;
  transform: rotate(0deg);
}
.burgerMenuList .submenuWrapper.active .navItem i,
.navMenuList .submenuWrapper:hover .navItem i {
  transform: rotate(180deg);
}

#navBurgerMenu {
  display: none;
  font-size: 1.5rem;
}

#navBurgerMenu button {
  box-shadow: none;
}

.burgerMenuList {
  display: none;
  overflow: hidden;
  position: fixed;
  width: 70%;
  max-width: 300px;
  right: 0px;
  background-color: var(--clr2);
  box-shadow: -0.2rem 0.2rem 0.3rem -0.1rem rgba(0, 0, 0, 0.25);
  z-index: 1000000;
}

.burgerMenuList .navItem {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.burgerMenuList .submenuWrapper.active .submenuItem {
  display: block !important;
}

.burgerMenuList .submenuItem.active {
  background-color: var(--clr3) !important;
}

.currentPage {
  display: none;
  float: left;
  text-align: center;
  font-size: 1.3rem;
}

.homeButtonWrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 780px) {
  #navMain {
    align-items: left;
    justify-content: space-between;
  }

  .navMenuList {
    display: none;
  }

  #navBurgerMenu {
    display: block;
  }

  #navBurgerMenu .navItem {
    margin-right: 0;
  }

  .burgerMenuList {
    display: block;

    top: 3.5rem;
  }

  .currentPage {
    display: block;
  }
}
