#topnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  backdrop-filter: blur(4px);
  overflow: visible;
  transition: .2s ease-in-out;
  z-index: 100; /*fixar så att nav alltid är längst upp*/
}

.nav_scrolled{
  transition: .2s ease-in-out;
  background-color: var(--clr2);
  backdrop-filter: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.307);
}

#navmain {
  overflow: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#topnav button {
  appearance: none;
  background-color: inherit;
  border: none;
}

.nav__menu-list {
  display: flex;
}

#navlogo {
  width: 3rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  height: inherit;
}

.navitem_wrapper {
  overflow: hidden;
  height: auto;
}

.nav__item {
  float: left;
  color: #ffffff !important;
  text-align: center;
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
}

.submenu_item {
  text-decoration: none;
  display: none !important;
  text-align: center;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-bottom: solid 1px var(--clr1);
  color: #ffffff !important;
  display: block;
  background-color: var(--clr2);
}

/* För att subitems ska linewrapa  */
.submenu_item p {
  margin: 0 auto;
  padding: 0;
  font-size: unset;
  max-width: 8rem;
}

.nav__menu-list .submenu_wrapper:hover .submenu_item {
  display: block !important;
}

.submenu_item:hover {
  transform: scale(1.05);
  background-color: var(--clr3);
  transition: 0.2s;
}

.nav__item:hover {
  transition: 0.2s;
  background-color: var(--clr3);
}

nav .active {
  background-color: var(--clr4) !important;
  color: #ffffff;
}

.nav__item i {
  transition: 0.5s;
  transform: rotate(0deg);
}

.nav__menu-list .submenu_wrapper:hover .nav__item i {
  transform: rotate(180deg);
}

.burgir__menu-list .submenu_wrapper.active .nav__item i {
  transform: rotate(180deg);
}

#navburgirmenu {
  display: none;
  font-size: 1.5rem;
  color: #ffffff;
}

#navburgirmenu button {
  box-shadow: none;
}

.burgir__menu-list {
  display: none;
  overflow: hidden;
  position: fixed;
  width: 70%;
  max-width: 300px;
  right: 0px;
  background-color: var(--clr2);
  color: #ffffff;
  box-shadow: -0.2rem 0.2rem 0.3rem -0.1rem rgba(0, 0, 0, 0.253);
}

.burgir__menu-list .nav__item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--clr2);
}

.burgir__menu-list .nav__item:hover {
  background-color: var(--clr3);
  transition: 0.2s;
}

.burgir__menu-list .submenu_wrapper.active .submenu_item {
  display: block !important;
}

.burgir__menu-list .submenu_item.active {
  background-color: var(--clr3) !important;
}

@media screen and (max-width: 700px) {
  #navmain {
    align-items: left;
    justify-content: space-between;
  }

  .nav__menu-list {
    display: none;
  }

  #navburgirmenu {
    display: block;
  }

  #navburgirmenu .nav__item {
    margin-right: 0;
  }

  .burgir__menu-list {
    display: block;

    top: 3.5rem;
  }
}
