#topnav{
    position: fixed;
    top: 0;
    background-color: var(--clr2);
    width: 100%;
    height: 4rem;
    overflow:visible;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.507) ;
}

#navmain{
    overflow: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#topnav button{
    appearance: none;
    background-color: inherit;
    border: none;
}

.nav__menu-list {
    display: flex;
}

#navlogo{
    width: 3rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    height: inherit;
}

.navitem_wrapper{
    overflow: hidden;
    height: auto;
}

.nav__item {
    float: left;
    color: #ffffff !important; 
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.submenu_item{
    text-decoration: none;
    display: none !important;
    text-align: center;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    border-bottom: solid 1px var(--clr1);
    color: #ffffff !important;
    display: block;
    background-color: var(--clr2)
}

.submenu_wrapper:hover .submenu_item{
    display: block !important;  
}

.submenu_item:hover{
    transform: scale(1.05);
    background-color: var(--clr3);
    transition: .2s;
}

.nav__item:hover {
    transition: 0.2s;
    background-color: var(--clr3);
}

nav .active{
    background-color: var(--clr4) !important;
    color: #ffffff;
}

#navburgirmenu{
    display: none;
    font-size: 1.5rem;
    color: #ffffff;
}

.burgir__menu-list{
    display: none;
    position: fixed;
    background-color: var(--clr2);
    color: #ffffff;
    right: 0;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.507);
}

.burgir__menu-list .nav__item{
    width: 72%;
    background-color: var(--clr2);
}

.burgir__menu-list .nav__item:hover{
    width: 80%;
    transform: translate(-4%);
    background-color: var(--clr3);
    transition: .2s;
}


@media screen and (max-width: 650px) {
    #navmain {
        align-items: left;
        justify-content: space-between;
    }

    .nav__menu-list {
        display: none;
    }

    #navburgirmenu{
        display: block;
    }

    #navburgirmenu .nav__item{
        margin-right: 0;
    }

    .burgir__menu-list{
        display: block;
        top: 3.5rem;
    }

}
