@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
:root{
    --ljusrod: #e0483a;
    --klarrod: #c63022;
    --mellanrod: #b1291d;
    --djuprod: #9e2419;
    --clgra: #191a1b;
}

html {
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

a { 
    color: var(--djuprod);
}
a:visited { 
    color: var(--djuprod);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

