@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
:root{
    --clr1: #E64128;
    --clr2: #D23022;
    --clr3: #BB291D;
    --clr4: #A7291D;
    --clr5: #8A2419;
    --clgra: #252526;
}

html {
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
}

a { 
    color: var(--clr5);
}
a:visited { 
    color: var(--clr5);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

