.sånglänk {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  max-width: 800px;
  text-decoration: none;

  font-size: 1.2rem;
  font-weight: 600;

  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  margin: -1px auto 0 auto;
}

.sånglänk:hover {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(200, 0, 26, 0.1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sånglänk:hover .sångtitel {
  font-size: 1.3rem;
  transition: 0.2s;
}

.sångkategori{
  text-align: right;
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

.sånglänk .sångsida {
  color: grey;
  font-weight: 500;
  font-size: 1rem;
}


.inputfält{
  max-width: 800px;
  margin: auto;
  padding: 1rem 0 1rem 0;
  display: flex;
}

.searchbar {
  display: block;
  width: 80%;
  max-width: 800px;
  min-width: 100px;

  margin: 0 1rem 1rem 0;
  padding: 0.7rem;

  font-family: unset;
  font-size: 1rem;

  border: 1px solid lightgrey;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.1);
  scroll-margin-top: 75px;
}

.filter{
  text-align: right;
  
}

.filterbutton{
  accent-color: var(--clr4);
  height: 1rem;
  width: 1rem;
  margin: .8rem;
}