/* Hela sidan*/

#tvContent {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--clr2);
	background-image: url(../public/media/grafik/CL_logo_sketch_black.webp);
	background-repeat: no-repeat;
	background-position: center;
}

/* Bilden*/

.slideshow {
	overflow: hidden;
	height: 100vh;
	margin: auto;
	width: 75%; /*Måste matcha .travelColumn*/
}

.slideshow img {
	display: none;
}

.slideshow img[src] {
	display: inline;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: none;
	outline: none;
}

/* Kolumn för SL-data

Stil för dagtid ligger under respektive del
standard är natt-tid som alltid applicerar,
dagtid ändrar bara färger*/

.travelColumn {
	height: 100vh;
	overflow: hidden;
	margin: auto;
	width: 25%; /*Måste matcha .slideshow*/
	display: flex;
	flex-direction: column;
	background-color: black;
}

.dayTravelColumn {
	background-color: white;
}

.travelColumn h1,
.travelColumn h2,
.travelColumn table {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.dayTravelColumn h1,
.dayTravelColumn h2,
.dayTravelColumn table {
	color: black;
}

.travelColumn h1 {
	text-align: center;
	margin-top: 0.5rem;
	font-size: 3.5rem;
}

.travelColumn h2 {
	text-align: center;
	margin-top: 0.5rem;
	font-size: 2.5rem;
}

.travelGroup {
	margin-bottom: 1rem;
}

.titleGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	gap: 0.5rem;
	padding-left: 0.5rem;
	margin-bottom: 0.2rem;
}

.travelTable {
	width: 100%;
	font-size: 1.5rem;
	border-collapse: collapse;
	margin-bottom: 1.5rem;
}

.travelTable th {
	background-color: var(--clr1);
}

.travelTable th,
.travelTable td {
	padding: 4px 4px 4px 0.5rem;
}

.travelTableHeader {
	text-align: left;
}
.travelTableLine {
	width: 20%;
}
.travelTableDestination {
	width: 55%;
}
.travelTableTime {
	width: 25%;
}

.oddRow {
	background-color: #222;
}

.oddRowDay {
	background-color: #bbb;
}
