#tvContent {
	display: flex;
	justify-content: space-between;
	background-color: var(--clr2);
	background-image: url(../public/media/grafik/CL_logo_sketch_black.webp);
	background-repeat: no-repeat;
	background-position: center;
}

.slideshow {
	overflow: hidden;
	height: 100vh;
	margin: auto;
	width: 100%;
}

.slideshow img {
	display: none;
}

.slideshow img[src] {
	display: inline;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: none;
	outline: none;
}
